<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-rBgvUGAtcKc0KxuL4H7Yj22pKqsOUZ0tz2Z29UZShhW7g1XVwuzrAGVZS0txT1t3" crossorigin="anonymous">

  <style>
    /* Custom styles for the navbar */
    body {
      padding-top: 56px; /* Adjust body padding to accommodate fixed navbar */
    }

    .navbar-custom {
      background-color: #7233E1;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav .nav-link {
      color: #fff; /* White color for links */
    }
    .welcome-image {
        background-size: cover;
        background-position: center;
        height: 100vh; /* Set the height to fill the entire viewport */
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff; /* Text color */
    }

    .welcome-text {
        text-align: center;
    }

    /* Additional styles for the text inside the image */
    .welcome-text h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .welcome-text p {
        font-size: 1.5em;
        margin-bottom: 40px;
    }
   
  </style>
  <title>Unity Circus</title>
</head>
<body>

<!-- Navbar -->
{% include 'navbar.html' %}
<!-- Your content goes here -->
<!-- Your content goes here -->
<main>
    <section>
        <div class="container-fluid p-0">
            <!-- Add a background image using CSS -->
            <div class="welcome-image" style="background-image: url({% static 'Images/KD9A5738.jpg' %});">
                <!-- Add some text inside the image -->
                <div class="welcome-text">
                    <h1></h1>
                   
                </div>
            </div>
        </div>

        <!-- Two columns below the image -->
        <div class="container mt-5">
            <div class="row">
                <!-- Left column - Who We Are -->
                <div class="col-md-6">
                    <h2>Who we are</h2>
                    <p>Unity Circus is an Acro theater organization based in Rubavu, Rwanda, East Africa. It was
                        established in 2018 as a performing group of six young acrobat These six finally founded Unity
                        Circus, an organization that offers a diverse educational program through acrobatics, theater and
                        dance for 130 childrens from low-income families in the rural area around the City of Gisenyi
                        called Kanembwe and more than 343 childrens whom indirectly benefiting. In 2021, Unity
                        Circus Sport was registered as a Non-Government Organization accredited by Rwanda
                        Governance Board with the certificate of compliance <br>N 0 1226RGB/NGO/OC/06/2023. It aims
                        to raise Acrotheater artists that will create a positive living environment in society.</p>
                    <a href="/Mission" class="btn btn-primary">Mission</a>
                </div>

                <!-- Right column - Support Us -->
                <div class="col-md-6">
                    <h2>Support Us</h2>
                    <p>Help us spread a passion for the arts across Rwanda. We believe that all children, regardless of their background, deserve to have access to the healing powers of the arts. Our artistic training provides art therapy as well as professional skills that lead to lasting employment. Your donation directly supports these programs.</p>
                    <a  href="/Donate" class="btn btn-success">Donate</a>
                </div>
            </div>
        </div>
        <!-- Another div with background image and video tag -->
        <div class="container-fluid video-section mt-5" style="background-image: url({% static 'Images/KD9A6912.jpg'%});">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Add your YouTube video embed code here -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rrSYENbFuUk" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
       
            

                <!-- Bootstrap Container to center content -->
                <div class="container mx-auto">
                    <h2></h2>
                    <p>The Unity Circus Sport is a transformative organization dedicated to empowering youth through
                        circus arts and skills development. As part of its mission to create a positive impact in rural
                        communities, Unity Circus Rwanda has embarked on a project to expand its facilities in order to
                        better serve the children and youth in its programs. This project involves the construction of a
                        training hall in the area where the project exists by extending the existing plot originally
                        designated for a beekeeping project.It is planned that we are working with partners to do our best
                        so that the plot owned by the organization should be extended, hence having construction
                        activities. The plots listed above were designed within the project of environmental protection
                        while placing different Bee Hives for the bees protection.</p>
                    <a href="https://youtu.be/Lhdpnkm7uWI?si=rhPm3AbeVHVAZlZg" class="btn btn-primary" target="_blank">Get  Information</a>
                    <h2></h2>
                    <p></p>
                    
                </div>
            </div>
        </div>
        <!-- Another section with three columns -->

<!-- New & Our Story section -->

<section class="container-fluid mt-5">
    <h2 class="text-center mb-4">New & Our Story</h2>
    <div class="row">

        <!-- Column 1 -->
        <div class="col-md-3 column text-center">
            <img src="{% static 'Images/image19.jpeg' %}" alt="Image 1" class="img-fluid mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Unity Circus and the Covid 19 Pandemic</h5>
                    <p class="card-text">
                        As the world faces the COVID-19 (Coronavirus) pandemic, the Government of Rwanda today is confirming different cases of infected persons in most of the district in that country. </p>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-md-3 column text-center">
            <img src="{% static 'Images/KD9A6912.jpg' %}" alt="Image 2" class="img-fluid mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Training children in circus /Acrotheatre</h5>
                    <p class="card-text">Many children of all ages from the rural areas around Gisenyi come to Unity Circus to have Circus training as their freetime activity and to express their feelings through acrotheatre.</p>
                </div>
            </div>
        </div>

        <!-- Column 3 -->
        <div class="col-md-3 column text-center">
            <img src="{% static 'Images/KD9A5952.jpg' %}" alt="Image 3" class="img-fluid mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Encouraging young artist to attend their schools</h5>
                    <p class="card-text">Many children in rural areas of Rwanda don't attend schools. The reasons are that they are not able to afford schoolfees and that they don't perform well so they loose motivation.</p>
                </div>
            </div>
        </div>

        <!-- Column 4 -->
        <div class="col-md-3 column text-center">
            <img src="{% static 'Images/image17.jpeg' %}" alt="Image 4" class="img-fluid mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Food distribution during the time of calamity</h5>
                    <p class="card-text">
                        Food distribution during times of calamity is a critical aspect of emergency response efforts. Ensuring that affected populations have access to an adequate and nutritious food supply is essentialfortheir survival
                        .</p>
            </div>
        </div>

    </div>
</section>
</section>
</main>
<!-- Footer section -->
<footer style="background-color: #7233E1; color: #fff; padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Connect with us</h4>
                <!-- Add your social media links here -->
                <a href="https://www.facebook.com/profile.php?id=100069144213635&paipv=0&eav=AfYGX2qE04anNqCDV97wxQ1F9jfJd8Pkzt2Za2E1fAEfLW18oMthwpVRWSSGAi77XEA" target="_blank"  style="color: #3b5998;"><img src="{% static 'pic/facebook-ico.svg'%}" alt="Facebook" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                <a href="https://twitter.com/circus_unity" target="_blank"><img src="{% static 'pic/twitter-icon.svg'%}" alt="Twitter" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                <a href="https://www.instagram.com/unity_circus/" target="_blank"><img src="{% static 'pic/insta-icon.svg'%}" alt="Instagram" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                <a href="unitycircus.info@gmail.com" target="_blank"><img src="{% static 'pic/mail-icon.svg'%}" alt="Phone" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                <a href="https://api.whatsapp.com/send/?phone=250781647807&text&type=phone_number&app_absent=0" target="_blank"><img src="{% static 'pic/whatsapp-icon.svg'%}" alt="Instagram" style="width: 30px; height: 30px; margin-right: 10px;"></a>
            </div>
            <div class="col-md-6 text-right">
                <!-- Add any additional footer content here -->
                <p>&copy; {{Years}} Unity Circus. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>



<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
