<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-rBgvUGAtcKc0KxuL4H7Yj22pKqsOUZ0tz2Z29UZShhW7g1XVwuzrAGVZS0txT1t3" crossorigin="anonymous">

  <style>
    /* Custom styles for the navbar */
    body {
      padding-top: 56px; /* Adjust body padding to accommodate fixed navbar */
    }

    .navbar-custom {
      background-color: #7233E1;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav .nav-link {
      color: #fff; /* White color for links */
    }
    .welcome-image {
        background-size: cover;
        background-position: center;
        height: 100vh; /* Set the height to fill the entire viewport */
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff; /* Text color */
    }

    .welcome-text {
        text-align: center;
        color: #7233E1;
        font-size: 20px;
        font-weight: bold;
    }

    /* Additional styles for the text inside the image */
    .welcome-text h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .welcome-text p {
        font-size: 1.5em;
        margin-bottom: 40px;
    } 
    .testimonial-section {
    background-color: grey;
      padding: 50px 0;
    }

    .testimonial-carousel {
      max-width: 800px;
      margin: 0 auto;
    }

    .testimonial-img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .testimonial-info {
      padding-left: 20px;
    }

    .testimonial-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

      .testimonial-content {
      font-size: 16px;
      color: #555555;
    }
    .container_1
    {
        background-color: aqua;
        height: 18%;
    }
  </style>
  <title>Unity Circus</title>
</head>
<body>

<!-- Navbar -->
{% include 'navbar.html' %}
<!-- Your content goes here -->
<!-- Your content goes here -->
<main>
    <section>
        <div class="container-fluid p-0">
            <!-- Add a background image using CSS -->
            <div class="welcome-image" style="background-image: url({%static 'Images/KD9A5952.jpg'%});">
                <!-- Add some text inside the image -->
                <div class="welcome-text">
                    
                    <h3 class=" text-white">Empower Young Artists Today

                    </h3>
                </div>
            </div>
        </div>
        </section>
      <!-- Three columns with buttons and images below each button -->
      <br>
      <section class="text-center">
        <!-- Bootstrap Container to center content -->
        <div class="container mx-auto">
          <h1 class="text text-primary">Unity Circus runs a responsible Collective Child Sponsorship Program</h1>
        </div>
      </section>
     
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Content for the first column goes here -->
            <img src="{%static 'Images/aaab.jpeg'%}" width="100%" height="100%">
                
          
            </div>
          <div class="col-md-6">
            <!-- Content for the second column goes here -->
            
            <div class="container mt-5">
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <button class="btn " data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                        What Is Collective Child Sponsorship? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         
                         <span class="mr-2">+</span>

                      </button>
                    </h5>
                  </div>
                  
                  <div id="collapseInfo" class="collapse">
                    <div class="card-body">
                      <!-- More information goes here -->
                      <p>We welcome committed volunteers who are willing to pitch in with a positive attitude and an open-mind regarding our activities and the local culture! Any volunteer request which could contribute to unity circus capacity building will be duly noted and assessed by our Human Resources Department, on a case-by-case basis.

                        What we are looking for are people with a specific expertise or experience corresponding to our current needs. They may vary and include, but are not limited to, communications, IT, fundraising, social support, lighting and sound design, English teaching, customer service… People with circus arts, music, drama or other arts skills are very welcome and should make a proposal explaining how they would use a volunteer opportunity to help develop the skills of our students.
                        
                        Volunteers should be 18 years old or over to participate. Due to financial and human resources limitations, we are unable to offer academic internships..</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <button class="btn " data-toggle="collapse" data-target="#collapseInfo1" aria-expanded="true" aria-controls="collapseInfo">
                        Can You Trust unity circus ?
                        
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="mr-2">+</span>

                      </button>
                    </h5>
                  </div>
                  
                  <div id="collapseInfo1" class="collapse">
                    <div class="card-body">
                      <!-- More information goes here -->
                      <p>Let yourself be immersed in the vibrant Acrothreate arts scene
                        Gain an insight into authentic local culture
                        Challenge yourself while trying something new and unique
                        Learn first-hand about issues facing vulnerable communities
                        Make a difference by supporting our long-term  goals</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <button class="btn " data-toggle="collapse" data-target="#collapseInfo2" aria-expanded="true" aria-controls="collapseInfo">
                        What Happens After You Join? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="mr-2">+</span>

                      </button>
                    </h5>
                  </div>
                  
                  <div id="collapseInfo2" class="collapse">
                    <div class="card-body">
                      <!-- More information goes here -->
                      <p>International volunteering has grown in popularity, and with so many people looking for a more meaningful way of travelling, going abroad to give a hand to worthy causes, our concern is focusing on a very important step: we have to learn before we can help. Volunteers should research their options thoroughly, understand the context and culture of the communities they visit, and ensure that their skills and experience match the needs. Without adapted preparation and mindset, first time volunteering can be wasteful, and at worst, cause a lot of harm.

                        At unity circus, we offer an intimate experience by welcoming only a very few volunteers at a time, who get the chance to be fully immersed in our project and in direct contact with our staff, students and surrounding communities. This trust we place in our volunteers comes with responsibilities, starting with the respect of unity circus code of conduct, our child protection policy as well as local culture in general. Everything should be done to put good intentions to good use, and our staff will always be here to guide volunteers and ensure ​their experience at unity circus is positive and beneficial to both parties.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <button class="btn " data-toggle="collapse" data-target="#collapseInfo3" aria-expanded="true" aria-controls="collapseInfo">
                        How long can I volunteer? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="mr-2">+</span>

                      </button>
                    </h5>
                  </div>
                  
                  <div id="collapseInfo3" class="collapse">
                    <div class="card-body">
                      <!-- More information goes here -->
                      <p>For the same reasons, we encourage the volunteers to stay for a long term. Volunteers who commit for 3 months or more are preferred. Shorter duration opportunities may be available for highly specific and specialized tasks if there is a corresponding need. We strongly discourage short-term volunteering for positions involving interactions with children.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>
      <h3 class="text-center text-primary">Sponsor a Child Today</h3>
    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Content for the first column goes here -->
            <img src="{%static 'Images/KD9A5754.jpg'%}"  width="100%" height="100%">
                
          
            </div>
          <div class="col-md-6">
            <!-- Content for the second column goes here -->
            
            <div class="container mt-5">
                <div class="card">
                  <div class="card-header">
                    When you join our Collective Child Sponsorship program, your monthly gift gives our most at-risk students the aid and support they need to stay in school and pursue their passions, including:

Free, nutritious lunch 5 days a week
Breakfast and Dinner Stipends
School Supplies
First Aid & Medical Care
Family and Personal counseling from professional social workers
Needs Based Assistance
To cover basic costs, we recommend donating a minimum of 10$ a month.

You can sponsor by click on the button bellow. <br>
<a href="/Donate" class="btn btn-primary">Donate</a>
                </div>
              </div>
             
          </div>
          
        </div>
      </div>


    </main>
        <br>
      
        
        <footer style="background-color: #7233E1; color: #fff; padding: 20px;">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <h4>Connect with us</h4>
                      <!-- Add your social media links here -->
                      <a href="https://www.facebook.com/profile.php?id=100069144213635&paipv=0&eav=AfYGX2qE04anNqCDV97wxQ1F9jfJd8Pkzt2Za2E1fAEfLW18oMthwpVRWSSGAi77XEA" target="_blank"  style="color: #3b5998;"><img src="{% static 'pic/facebook-ico.svg'%}" alt="Facebook" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                      <a href="https://twitter.com/circus_unity" target="_blank"><img src="{% static 'pic/twitter-icon.svg'%}" alt="Twitter" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                      <a href="https://www.instagram.com/unity_circus/" target="_blank"><img src="{% static 'pic/insta-icon.svg'%}" alt="Instagram" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                      <a href="unitycircus.info@gmail.com" target="_blank"><img src="{% static 'pic/mail-icon.svg'%}" alt="Phone" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                      <a href="https://api.whatsapp.com/send/?phone=250781647807&text&type=phone_number&app_absent=0" target="_blank"><img src="{% static 'pic/whatsapp-icon.svg'%}" alt="Instagram" style="width: 30px; height: 30px; margin-right: 10px;"></a>
                  </div>
                  <div class="col-md-6 text-right">
                      <!-- Add any additional footer content here -->
                      <p>&copy; {{Years}} Unity Circus. All rights reserved.</p>
                  </div>
              </div>
          </div>
      </footer>


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
      // Synchronize image and information carousels
      $('#testimonialCarousel').on('slid.bs.carousel', function() {
        var activeIndex = $('#testimonialCarousel .carousel-inner .active').index();
        $('#testimonialInfoCarousel').carousel(activeIndex);
      });
    });
  </script>
</body>
</html>
